@mixin zenoss-toolbar-button {

    $ui: 'default-toolbar-small';
    @include extjs-button-ui(
       $ui,

       $button-small-border-radius,
       $button-small-border-width,

       $button-toolbar-border-color,
       $button-toolbar-border-color-over,
       $button-toolbar-border-color-focus,
       $button-toolbar-border-color-pressed,
       $button-toolbar-border-color-disabled,

       $button-small-padding,
       $button-small-text-padding,

       $button-toolbar-background-color,
       $button-toolbar-background-color-over,
       $button-toolbar-background-color-focus,
       $button-toolbar-background-color-pressed,
       $button-toolbar-background-color-disabled,

       $button-toolbar-background-gradient,
       $button-toolbar-background-gradient-over,
       $button-toolbar-background-gradient-focus,
       $button-toolbar-background-gradient-pressed,
       $button-toolbar-background-gradient-disabled,

       $button-toolbar-color,
       $button-toolbar-color-over,
       $button-toolbar-color-focus,
       $button-toolbar-color-pressed,
       $button-toolbar-color-disabled,

       $button-small-font-size,
       $button-small-font-size-over,
       $button-small-font-size-focus,
       $button-small-font-size-pressed,
       $button-small-font-size-disabled,

       $button-small-font-weight,
       $button-small-font-weight-over,
       $button-small-font-weight-focus,
       $button-small-font-weight-pressed,
       $button-small-font-weight-disabled,

       $button-small-font-family,
       $button-small-font-family-over,
       $button-small-font-family-focus,
       $button-small-font-family-pressed,
       $button-small-font-family-disabled,

       $button-small-icon-size
    );

    // GRADIENTS  //


    .#{$prefix}btn-#{$ui},
    .#{$prefix}btn-#{$ui}-disabled,
    .#{$prefix}btn-#{$ui}-over {
        @include background-image(linear-gradient(top, color_stops(
            $button-toolbar-background-color-start,
            $button-toolbar-background-color-stop
        )));
    }

    .#{$prefix}btn-#{$ui}-menu-active,
    .#{$prefix}btn-#{$ui}-pressed {
        @include background-image(linear-gradient(top, color_stops(
            $button-toolbar-background-color-pressed-start,
            $button-toolbar-background-color-pressed-stop
        )));
    }
    .#{$prefix}btn-#{$ui}-over {
        .#{$prefix}btn-inner{
            color: #1b579a;
        }
    }
      
    // ICONS

    $icon_begin: 1px;

    // IE FIXES

    .#{$prefix}btn em {
        font-style: normal;
    }

    .#{$prefix}nlg {
        .#{$prefix}btn-#{$ui},
        .#{$prefix}btn-#{$ui}-disabled,
        .#{$prefix}btn-#{$ui}-over {
            background-repeat: repeat-x;
            @include zenoss-background-image("btn/btn-#{$ui}-over-bg.png");
        }

        .#{$prefix}btn-#{$ui}-menu-active,
        .#{$prefix}btn-#{$ui}-pressed {
            background-repeat: repeat-x;
            @include zenoss-background-image("btn/btn-#{$ui}-pressed-bg.png");
        }
    }

    .#{$prefix}nbr {
        .#{$prefix}btn-#{$ui},
        .#{$prefix}btn-#{$ui}-disabled,
        .#{$prefix}btn-#{$ui}-over {
            .#{$prefix}frame-tl,
            .#{$prefix}frame-bl,
            .#{$prefix}frame-tr,
            .#{$prefix}frame-br,
            .#{$prefix}frame-tc,
            .#{$prefix}frame-bc {
                @include zenoss-background-image("btn/btn-#{$ui}-over-corners.png");
            }
            .#{$prefix}frame-ml,
            .#{$prefix}frame-mr {
                @include zenoss-background-image("btn/btn-#{$ui}-over-sides.png");
            }
            .#{$prefix}frame-mc {
                background-color: $button-toolbar-background-color-over;
                @include zenoss-background-image("btn/btn-#{$ui}-over-bg.png");
            }
        }

        .#{$prefix}btn-#{$ui}-menu-active,
        .#{$prefix}btn-#{$ui}-pressed {
            .#{$prefix}frame-tl,
            .#{$prefix}frame-bl,
            .#{$prefix}frame-tr,
            .#{$prefix}frame-br,
            .#{$prefix}frame-tc,
            .#{$prefix}frame-bc {
                @include zenoss-background-image("btn/btn-#{$ui}-pressed-corners.png");
            }
            .#{$prefix}frame-ml,
            .#{$prefix}frame-mr {
                @include zenoss-background-image("btn/btn-#{$ui}-pressed-sides.png");
            }
            .#{$prefix}frame-mc {
                background-color: $button-toolbar-background-color-pressed;
                @include zenoss-background-image("btn/btn-#{$ui}-pressed-bg.png");
            }
        }
    }

}

@mixin zenoss-dialog-button {
   $ui: 'dialog-dark-small';
  
 
   @include extjs-button-ui(
       $ui,
       $button-small-border-radius
    );

    .#{$prefix}btn-#{$ui}{ 
        zoom:1;
        padding:6px 14px 6px 14px;
        border:1px solid $button-toolbar-border-color; 
        text-align:center;
        span{
            font:normal 11px arial, verdana !important;
            color:#fff;
            text-transform:uppercase;
        }
    }

    // GRADIENTS 


    .#{$prefix}btn-#{$ui},
    .#{$prefix}btn-#{$ui}-disabled {
        @include background-image(linear-gradient(top, color_stops(
            #373737,
            #1b1b1b
        )));
    }
    .#{$prefix}btn-#{$ui}-over {
        @include background-image(linear-gradient(top, color_stops(
            #5698c6,
            #1a618d
        )));
    }

    .#{$prefix}btn-#{$ui}-menu-active,
    .#{$prefix}btn-#{$ui}-pressed {
        @include background-image(linear-gradient(top, color_stops(
            #1a618d,
            #5698c6
        )));
    }


    // IE FIXES

    .#{$prefix}btn em {
        font-style: normal;
    }

    .#{$prefix}nlg {
        .#{$prefix}btn-#{$ui}{ 
            .#{$prefix}btn-center{
                padding:3px !important;
                background-repeat:repeat-x;
                background-position:0 -51px !important;
                @include zenoss-background-image("btn/btn-sprite.png");
            }
            .#{$prefix}btn-#{$ui}-tc, .#{$prefix}btn-#{$ui}-bc{
                height:1px !important;
                line-height:1px !important; 
                border-top:1px solid $button-toolbar-border-color;
            }
        }
        .#{$prefix}btn-#{$ui}-disabled .#{$prefix}btn-center,
        .#{$prefix}btn-#{$ui}-over .#{$prefix}btn-center{
                background-repeat:repeat-x;
                background-position:0 -126px !important;
                @include zenoss-background-image("btn/btn-sprite.png"); 
        }

        .#{$prefix}btn-#{$ui}-menu-active .#{$prefix}btn-center,
        .#{$prefix}btn-#{$ui}-pressed .#{$prefix}btn-center{
                background-repeat:repeat-x;
                background-position:0 -203px !important;
                @include zenoss-background-image("btn/btn-sprite.png"); 
        }
    }
    
    .#{$prefix}nbr {
        .#{$prefix}btn-#{$ui}, .#{$prefix}btn-#{$ui}-over, .#{$prefix}btn-#{$ui}-focus, .#{$prefix}btn-#{$ui}-menu-active, 
        .#{$prefix}btn-#{$ui}-pressed, .#{$prefix}btn-#{$ui}-disabled{
            .#{$prefix}frame-tl, .#{$prefix}frame-tr, .#{$prefix}frame-bl, .#{$prefix}frame-br
            .#{$prefix}frame-ml, .#{$prefix}frame-mr, .#{$prefix}frame-mc, .#{$prefix}frame-bc,
            .#{$prefix}frame-tc{
                padding:0px !important;                
            }
        }    
        .#{$prefix}btn-#{$ui}{
            background-color:#2a2a2a;
            .#{$prefix}frame-ml, 
            .#{$prefix}frame-mr {
                width:0px !important;
                border-left:1px solid $button-toolbar-border-color; 
                padding:0px !important;
                margin:0px !important;
            }  
        }
    
    }

}


@mixin zenoss-default-button {

    $ui: 'default-small';
    @include extjs-button-ui(
       $ui,

       $button-small-border-radius,
       $button-small-border-width,

       $button-toolbar-border-color,
       $button-toolbar-border-color-over,
       $button-toolbar-border-color-focus,
       $button-toolbar-border-color-pressed,
       $button-toolbar-border-color-disabled,

       $button-small-padding,
       $button-small-text-padding,

       $button-toolbar-background-color,
       $button-toolbar-background-color-over,
       $button-toolbar-background-color-focus,
       $button-toolbar-background-color-pressed,
       $button-toolbar-background-color-disabled,

       $button-toolbar-background-gradient,
       $button-toolbar-background-gradient-over,
       $button-toolbar-background-gradient-focus,
       $button-toolbar-background-gradient-pressed,
       $button-toolbar-background-gradient-disabled,

       $button-toolbar-color,
       $button-toolbar-color-over,
       $button-toolbar-color-focus,
       $button-toolbar-color-pressed,
       $button-toolbar-color-disabled,

       $button-small-font-size,
       $button-small-font-size-over,
       $button-small-font-size-focus,
       $button-small-font-size-pressed,
       $button-small-font-size-disabled,

       $button-small-font-weight,
       $button-small-font-weight-over,
       $button-small-font-weight-focus,
       $button-small-font-weight-pressed,
       $button-small-font-weight-disabled,

       $button-small-font-family,
       $button-small-font-family-over,
       $button-small-font-family-focus,
       $button-small-font-family-pressed,
       $button-small-font-family-disabled,

       $button-small-icon-size
    );

    // GRADIENTS


    .#{$prefix}btn-#{$ui},
    .#{$prefix}btn-#{$ui}-disabled,
    .#{$prefix}btn-#{$ui}-over {
        @include background-image(linear-gradient(top, color_stops(
            $button-toolbar-background-color-start,
            $button-toolbar-background-color-stop
        )));
    }

    .#{$prefix}btn-#{$ui}-menu-active,
    .#{$prefix}btn-#{$ui}-pressed {
        @include background-image(linear-gradient(top, color_stops(
            $button-toolbar-background-color-pressed-start,
            $button-toolbar-background-color-pressed-stop
        )));
    }

    // ICONS

    $icon_begin: 1px;

    
    // IE FIXES

    .#{$prefix}btn em {
        font-style: normal;
    }

    .#{$prefix}nlg {
        .#{$prefix}btn-#{$ui},
        .#{$prefix}btn-#{$ui}-disabled,
        .#{$prefix}btn-#{$ui}-over {
            background-repeat: repeat-x;
            @include zenoss-background-image("btn/btn-#{$ui}-over-bg.png");
        }

        .#{$prefix}btn-#{$ui}-menu-active,
        .#{$prefix}btn-#{$ui}-pressed {
            background-repeat: repeat-x;
            @include zenoss-background-image("btn/btn-#{$ui}-pressed-bg.png");
        }
    }

    .#{$prefix}nbr {
        .#{$prefix}btn-#{$ui},
        .#{$prefix}btn-#{$ui}-disabled,
        .#{$prefix}btn-#{$ui}-over {
            .#{$prefix}frame-tl,
            .#{$prefix}frame-bl,
            .#{$prefix}frame-tr,
            .#{$prefix}frame-br,
            .#{$prefix}frame-tc,
            .#{$prefix}frame-bc {
                @include zenoss-background-image("btn/btn-#{$ui}-over-corners.png");
            }
            .#{$prefix}frame-ml,
            .#{$prefix}frame-mr {
                @include zenoss-background-image("btn/btn-#{$ui}-over-sides.png");
            }
            .#{$prefix}frame-mc {
                background-color: $button-toolbar-background-color-over;
                @include zenoss-background-image("btn/btn-#{$ui}-over-bg.png");
            }
        }

        .#{$prefix}btn-#{$ui}-menu-active,
        .#{$prefix}btn-#{$ui}-pressed {
            .#{$prefix}frame-tl,
            .#{$prefix}frame-bl,
            .#{$prefix}frame-tr,
            .#{$prefix}frame-br,
            .#{$prefix}frame-tc,
            .#{$prefix}frame-bc {
                @include zenoss-background-image("btn/btn-#{$ui}-pressed-corners.png");
            }
            .#{$prefix}frame-ml,
            .#{$prefix}frame-mr {
                @include zenoss-background-image("btn/btn-#{$ui}-pressed-sides.png");
            }
            .#{$prefix}frame-mc {
                background-color: $button-toolbar-background-color-pressed;
                @include zenoss-background-image("btn/btn-#{$ui}-pressed-bg.png");
            }
        }
    }
}





@mixin zenoss-arrowslide-button {
   $ui: 'arrowslide-toolbar-small';

    .#{$prefix}btn-#{$ui}{    
        @include zenoss-background-image("btn/btn-arrowslide.png");     
        overflow:visible;
        position:relative;
        background-repeat:no-repeat;
        em, button{overflow:visible}
       .#{$prefix}btn-icon{
            overflow:visible;
            position:absolute;
            top:0;
            height:24px;
            width:40px;   
            @include zenoss-background-image("btn/btn-arrowslide.png");
            background-repeat:no-repeat;               
        }    
        &.toleft{
            background-position: right 0;
            margin-right:5px !important;    
            span{padding:0 6px 0 0;} 
           .#{$prefix}btn-icon{
                left:-16px;           
                background-position:0 -29;            
           }
        }
        &.toright{
            margin-right:20px !important; 
            span{padding:0 0 0 6px;}
           .#{$prefix}btn-icon{
                right:-40px;           
                background-position:0 -56;           
           }            
        }
        span{
            color:#fff;        
            text-align:center;        
            font:bold 11px arial, verdana !important;
            text-transform:uppercase;
            display:block;
            height:24px;
            position:relative;
            top:5px;
        }      
        &.#{$prefix}btn-#{$ui}-over{
            span{
                color:#1b579a !important;
            }
        }          
    }
   

}



@mixin zenoss-arrow-button {
    .#{$prefix}form-itemselector-btn{
        background-image:none;
        border:0 none !important;
        border-radius:0;
        background-color:transparent;
        
        .x-btn-icon{
            background-image:url() !important;
            background-position:0 0;
        }

        .#{$prefix}form-itemselector-top{
            @include zenoss-background-image("icon/top2.gif", true);
            padding-left: 12px;            
        }
        .#{$prefix}form-itemselector-up{
            @include zenoss-background-image("icon/up2.gif", true);
            padding-left: 12px;            
        }
        .#{$prefix}form-itemselector-add{
            @include zenoss-background-image("icon/right2.gif", true);
            padding-left: 12px;            
        }
        .#{$prefix}form-itemselector-remove{
            @include zenoss-background-image("icon/left2.gif", true);
            padding-left: 12px;            
        }
        .#{$prefix}form-itemselector-down{
            @include zenoss-background-image("icon/down2.gif", true);
            padding-left: 12px;            
        }
        .#{$prefix}form-itemselector-bottom{
            @include zenoss-background-image("icon/bottom2.gif", true);
            padding-left: 12px;            
        }
        
        .#{$prefix}frame-ml, .#{$prefix}frame-mc, .#{$prefix}frame-mr, 
        .#{$prefix}frame-bl, .#{$prefix}frame-bc, .#{$prefix}frame-br,
        .#{$prefix}frame-tl, .#{$prefix}frame-tc, .#{$prefix}frame-tr{
            background-image:none !important;
        }
    }
    
    
}

  
